# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.JenkinsRemoteBuilder.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Development Related\Projects\JenkinsRemoteBuilder\.idea\.idea.JenkinsRemoteBuilder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
